CompileFlags:
  CompilationDatabase: ${workspaceFolder}

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - readability-*
      - bugprone-*
    Remove:
      - readability-magic-numbers
